<%- include('../partials/head') %>
    <div class="container">

        <h1>Your Applications</h1>
            <% applications.forEach(application => {  %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= application.title %></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%= application.company %></h6>
                      <p class="card-text"><%= application.notes %></p>
                      <a href="#" class="card-link">Application link</a>
                      <span class="badge bg-warning"><%= application.status %></span>
                      <!-- <a href="#" class="card-link">Another link</a> -->
                    </div>
                  </div>
            <% }) %>
    </div>
<%- include('../partials/footer') %>